/* Contenedor que muestra los mensajes de error */
.error-card {
    -fx-background-color: #ff4757; /* Rojo */
    -fx-background-radius: 8;
    -fx-padding: 10 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 5);
    -fx-max-width: 500px;
}
.error-icon {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.error-label{
    -fx-text-fill: white;
}


/* Icono Usuario */
.icon-user {
    -fx-background-image: url("../img/icon/user.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10px center;
    -fx-background-size: 18px 18px;
}

/* Icono Email */
.icon-email {
    -fx-background-image: url("../img/icon/email.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10px center;
    -fx-background-size: 18px 18px;
}

/* Icono Candado */
.icon-lock {
    -fx-background-image: url("../img/icon/lock.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10px center;
    -fx-background-size: 18px 18px;
}

/* Icono pregunta de seguridad */
.icon-question {
    -fx-background-image: url("../img/icon/question.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10px center;
    -fx-background-size: 18px 18px;
}

/* Icono respuesta de seguridad */
.icon-answer {
    -fx-background-image: url("../img/icon/answer.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10px center;
    -fx-background-size: 18px 18px;
}

/* Botón con forma de ojo para ver la contraseña */
.eye-button {
    -fx-background-image: url("../img/icon/eye.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat; /* para que no repita la imagen intentado rellenar el espacio */
    -fx-background-position: center;
    -fx-padding: 10 20;
    -fx-cursor: hand;
}

/* Estilo de los Hyperlinks */
.hyperlink {
    -fx-text-fill: #2a5298; /* azul */
    -fx-border-color: transparent;
}
.hyperlink:focused, .hyperlink:hover{
    -fx-font-weight: bold;
    -fx-border-width: 0 0 2 0;
}

